---
layout: default
title: Mobile Now Group | Full Service Mobile Agency in Shanghai and Singapore
---
<div id="layer_slider_1">
  <script type="text/javascript">
    var lsjQuery = jQuery;
    lsjQuery(document).ready(function() {
      if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_95','jquery'); }
      else if(typeof lsjQuery.transit == "undefined" || typeof lsjQuery.transit.modifiedForLayerSlider == "undefined") { lsShowNotice('layerslider_95', 'transit'); }
      else {
          lsjQuery("#layerslider_95").layerSlider({
              width : '1440px',
              height : '650px',
              responsive : true,
              responsiveUnder : 0,
              sublayerContainer : 0,
              autoStart : false,
              pauseOnHover : true,
              firstLayer : 1,
              animateFirstLayer : true,
              randomSlideshow : false,
              twoWaySlideshow : true,
              loops : 0,
              forceLoopNum : true,
              autoPlayVideos : true,
              autoPauseSlideshow : 'auto',
              youtubePreview : 'maxresdefault.jpg',
              keybNav : true,
              touchNav : true,
              skin : 'fullwidth',
              skinsPath : '{{ site.baseurl }}/css/LayerSlider/skins/',
              navPrevNext : true,
              navStartStop : false,
              navButtons : false,
              hoverPrevNext : true,
              hoverBottomNav : false,
              showBarTimer : false,
              showCircleTimer : true,
              thumbnailNavigation : 'disabled',
              tnWidth : 300,
              tnHeight : 60,
              tnContainerWidth : '60%',
              tnActiveOpacity : 35,
              tnInactiveOpacity : 100,
              imgPreload : true,
              yourLogo : false,
              yourLogoStyle : 'position: absolute; left: 10px; top: 10px; z-index: 99;',
              yourLogoLink : false,
              yourLogoTarget : '_self',
              cbInit : function(element) { },
              cbStart : function(data) { },
              cbStop : function(data) { },
              cbPause : function(data) { },
              cbAnimStart : function(data) { },
              cbAnimStop : function(data) { },
              cbPrev : function(data) { },
              cbNext : function(data) { }
          });
      }
    });
  </script>
  <div id="layerslider_95" class="ls-wp-container">

      <div class="ls-layer" style="slidedirection: right; slidedelay: 7000; durationin: 1000; durationout: 1000; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
        <img class="ls-bg" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/11/Groups-bg-new.jpg" alt="Slide background">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2015/06/5mobilenow_team_2015-3.png" alt="layer1-sublayer1" style="position: absolute; top: 0px; left: 50%; slidedirection : left; slideoutdirection : right;  durationin : 500; durationout : 500; easingin : linear; easingout : linear; delayin : 0; delayout : 350; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2015/06/5mobilenow_team_2015-2.png" alt="layer1-sublayer2" style="position: absolute; top: 0px; left: 50%; slidedirection : left; slideoutdirection : left;  durationin : 500; durationout : 500; easingin : linear; easingout : linear; delayin : 200; delayout : 200; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2015/06/5mobilenow_team_2015-41.png" alt="layer1-sublayer3" style="position: absolute; top: 0px; left: 50%; slidedirection : right; slideoutdirection : right;  durationin : 500; durationout : 500; easingin : linear; easingout : linear; delayin : 200; delayout : 200; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2015/06/5mobilenow_team_2015-11.png" alt="layer1-sublayer4" style="position: absolute; top: 0px; left: 50%; slidedirection : left; slideoutdirection : left;  durationin : 500; durationout : 500; easingin : linear; easingout : linear; delayin : 350; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2015/06/5mobilenow_team_2015-5.png" alt="layer1-sublayer5" style="position: absolute; top: 0px; left: 50%; slidedirection : right; slideoutdirection : right;  durationin : 500; durationout : 100; easingin : linear; easingout : linear; delayin : 350; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2015/06/5mobilenow_team_2015-02.png" alt="layer1-sublayer6" style="position: absolute; top: 0px; left: 50%; slidedirection : bottom; slideoutdirection : bottom;  durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 100; delayout : 100; showuntil : 0;">
        <a href="{{ site.url }}{{ site.baseurl }}/about-us/" target="_self" class="ls-link"></a>
      </div>

      <div class="ls-layer" style="slidedirection: right; slidedelay: 7000; durationin: 1000; durationout: 1000; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
        <img class="ls-bg" src="{{ site.url }}{{ site.baseurl }}/assets/images/2014/07/bg.png" alt="Slide background">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2014/07/logo04.png" alt="layer2-sublayer1" style="position: absolute; top: 0px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 2100; durationout : 2100; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2014/07/logo03.png" alt="layer2-sublayer2" style="position: absolute; top: 0px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 1950; durationout : 1950; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2014/07/logo021.png" alt="layer2-sublayer3" style="position: absolute; top: 0px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 1700; durationout : 1700; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2014/07/logo1.png" alt="layer2-sublayer4" style="position: absolute; top: 0px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 1450; durationout : 1450; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2014/07/360MK021.png" alt="layer2-sublayer5" style="position: absolute; top: 12px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 1200; durationout : 1200; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2014/07/wechat02.png" alt="layer2-sublayer6" style="position: absolute; top: 0px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2014/07/360MK01.png" alt="layer2-sublayer7" style="position: absolute; top: 12px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 800; durationout : 800; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2014/07/wechat01.png" alt="layer2-sublayer8" style="position: absolute; top: 0px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 700; durationout : 700; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <a href="{{ site.url }}{{ site.baseurl }}/work/michael-kors-wechat/" target="_self" class="ls-link"></a>
      </div>

      <div class="ls-layer" style="slidedirection: right; slidedelay: 7000; durationin: 1000; durationout: 1000; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
        <img class="ls-bg" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/08/bg.png" alt="Slide background">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/08/kite.png" alt="layer3-sublayer1" style="position: absolute; top: 20px; left: 20px; slidedirection : fade; slideoutdirection : fade;  durationin : 1000; durationout : 0; easingin : swing; easingout : swing; delayin : 200; delayout : 200; scalein : 1.2; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/08/bg02.png" alt="layer3-sublayer2" style="position: absolute; top: 20px; left: 20px; slidedirection : fade; slideoutdirection : fade;  durationin : 800; durationout : 800; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/08/template01－ip02.png" alt="layer3-sublayer3" style="position: absolute; top: 20px; left: 20px; slidedirection : right; slideoutdirection : left;  durationin : 1000; durationout : 400; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/08/template01－ip01.png" alt="layer3-sublayer4" style="position: absolute; top: 20px; left: 20px; slidedirection : right; slideoutdirection : left;  durationin : 1000; durationout : 400; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/12/template01－text01.png" alt="layer3-sublayer5" style="position: absolute; top: 20px; left: 20px; slidedirection : left; slideoutdirection : left;  durationin : 700; durationout : 300; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/12/template01－text011.png" alt="layer3-sublayer6" style="position: absolute; top: 20px; left: 20px; slidedirection : left; slideoutdirection : left;  durationin : 700; durationout : 300; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 100; delayout : 100; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/12/template01－text012.png" alt="layer3-sublayer7" style="position: absolute; top: 20px; left: 20px; slidedirection : left; slideoutdirection : left;  durationin : 700; durationout : 300; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 100; delayout : 100; showuntil : 0;">
        <a href="{{ site.url }}{{ site.baseurl }}/work/breeze-living/" target="_self" class="ls-link"></a>
      </div>

      <div class="ls-layer" style="slidedirection: right; slidedelay: 7000; durationin: 1000; durationout: 1000; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
        <img class="ls-bg" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/12/sephora1.jpg" alt="Slide background">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/12/Title1.png" alt="layer4-sublayer1" style="position: absolute; top: 0px; left: 52%; slidedirection : right; slideoutdirection : right;  durationin : 500; durationout : 500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 200; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/12/description111.png" alt="layer4-sublayer2" style="position: absolute; top: 0px; left: 52%; slidedirection : right; slideoutdirection : right;  durationin : 500; durationout : 500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 100; delayout : 100; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/12/description121.png" alt="layer4-sublayer3" style="position: absolute; top: 0px; left: 52%; slidedirection : right; slideoutdirection : right;  durationin : 500; durationout : 500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 200; delayout : 0; showuntil : 0;">
        <a href="{{ site.url }}{{ site.baseurl }}/work/sephora/" target="_self" class="ls-link"></a>
      </div>

      <div class="ls-layer" style="slidedirection: right; slidedelay: 7000; durationin: 1000; durationout: 1000; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
        <img class="ls-bg" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/09/kiwi_bg.png" alt="Slide background">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/09/kiwi_green_bar.png" alt="layer5-sublayer1" style="position: absolute; top: 0px; left: 0px; slidedirection : left; slideoutdirection : left;  durationin : 500; durationout : 500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/09/kiwi_icon.png" alt="layer5-sublayer2" style="position: absolute; top: 0px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 1400; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/12/text-12.png" alt="layer5-sublayer3" style="position: absolute; top: 0px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/12/text-23.png" alt="layer5-sublayer4" style="position: absolute; top: 0px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 1200; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/09/kiwi_template01_iphone.png" alt="layer5-sublayer5" style="position: absolute; top: 0px; left: 0px; slidedirection : right; slideoutdirection : left;  durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/09/kiwi_character01.png" alt="layer5-sublayer6" style="position: absolute; top: 0px; left: 0px; slidedirection : left; slideoutdirection : left;  durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/09/kiwi_character02.png" alt="layer5-sublayer7" style="position: absolute; top: 0px; left: 0px; slidedirection : right; slideoutdirection : right;  durationin : 1200; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <a href="{{ site.url }}{{ site.baseurl }}/work/zespri-kiwi-farm/" target="_self" class="ls-link"></a>
      </div>

      <div class="ls-layer" style="slidedirection: right; slidedelay: 7000; durationin: 1000; durationout: 1000; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
        <img class="ls-bg" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/08/ford_template01.jpg" alt="Slide background">
        <img class="ls-s2" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/08/ford_template01-21.png" alt="layer6-sublayer1" style="position: absolute; top: 20px; left: 20px; slidedirection : right; slideoutdirection : right;  durationin : 1000; durationout : 400; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <img class="ls-s-1" src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/12/ford_template01-3.png" alt="layer6-sublayer2" style="position: absolute; top: 20px; left: 20px; slidedirection : left; slideoutdirection : left;  durationin : 700; durationout : 300; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0;">
        <a href="{{ site.url }}{{ site.baseurl }}/work/ford-sync-asia/" target="_self" class="ls-link"></a>
      </div>
    </div>
</div>

<div class="wrapper content">
  <h2 class="content-h2 with-bottom-line"><img alt="Work" src="{{ site.url }}{{ site.baseurl }}/assets/images/Work.png" width="38" height="38">Our work</h2>

  <p class="content-p text-center">Excellent branded apps, games and responsive websites</p>

  <div class="grid-sort-container no_margin-container isotope" data-portfolio-id="1">

    {% assign projects = site.projects | sort: 'order' %}
    {% for project in projects %}

    <div class="item grid-entry no_margin col-one-third"><div class="inner-entry">
      <a href="{{ project.link }}" class="grid-image">
        <img src="{{ project.image }}" width="495" height="400" alt="{{ project.title }}">
        <span class="image-overlay"></span>
      </a>
      <div class="grid-content">
        <div class="avia-arrow"></div>
        <div class="grid-entry-excerpt">
          <span class="target-device {{ project.support }}"></span>{{ project.title }}
        </div>
      </div>
    </div></div>

    {% endfor %}

  </div>

  <div class="text-center btn-read-more-wrapper">
    <a href="{{ site.url }}{{ site.baseurl }}/work/" class="mn-button">More Work</a>
  </div>
</div>

<div class="photo-breaker above-services"></div>

<div class="wrapper content">
  <h2 class="content-h2 with-bottom-line"><img alt="Services" src="{{ site.url }}{{ site.baseurl }}/assets/images/Services.png" width="38" height="38">Services</h2>

  <p class="content-p text-center">Depending on your specific needs and support required, we offer a full range of mobile services from pure consultancy through to development and launch.</p>

  <div class="col-one-third first">
    <div class="text-center">
      <a href="{{ site.url }}{{ site.baseurl }}/services/#mobile-consultancy" class="grid-image">
        <span class="service-icon mobile-consultancy"></span>
        <span class="image-overlay"></span>
      </a>
      <h3>Mobile Consultancy</h3>
    </div>
  </div>
  <div class="col-one-third">
    <div class="text-center">
      <a href="{{ site.url }}{{ site.baseurl }}/services/#ux-design" class="grid-image">
        <span class="service-icon ux-design"></span>
        <span class="image-overlay"></span>
      </a>
      <h3>UX Design</h3>
    </div>
  </div>
  <div class="col-one-third">
    <div class="text-center">
      <a href="{{ site.url }}{{ site.baseurl }}/services/#ui-design" class="grid-image">
        <span class="service-icon ui-design"></span>
        <span class="image-overlay"></span>
      </a>
      <h3>UI Design</h3>
    </div>
  </div>
  <div class="col-one-third first column-top-margin">
    <div class="text-center">
      <a href="{{ site.url }}{{ site.baseurl }}/services/#game-concept-production" class="grid-image">
        <span class="service-icon game-concept-production"></span>
        <span class="image-overlay"></span>
      </a>
      <h3>Game Concept & Production</h3>
    </div>
  </div>
  <div class="col-one-third column-top-margin">
    <div class="text-center">
      <a href="{{ site.url }}{{ site.baseurl }}/services/#development-build" class="grid-image">
        <span class="service-icon development-build"></span>
        <span class="image-overlay"></span>
      </a>
      <h3>Development & Build</h3>
    </div>
  </div>
  <div class="col-one-third column-top-margin">
    <div class="text-center">
      <a href="{{ site.url }}{{ site.baseurl }}/services/#app-publishing-marketing" class="grid-image">
        <span class="service-icon app-publishing-marketing"></span>
        <span class="image-overlay"></span>
      </a>
      <h3>App Publishing & Marketing</h3>
    </div>
  </div>

  <div class="text-center btn-read-more-wrapper">
    <a href="{{ site.url }}{{ site.baseurl }}/services/" class="mn-button">Read More</a>
  </div>
</div>

<div class="photo-breaker above-client-word"></div>

<div class="wrapper content">
  <h2 class="content-h2 with-bottom-line"><img alt="Clients" src="{{ site.url }}{{ site.baseurl }}/assets/images/Clients.png" width="38" height="38">A word from our clients</h2>
  <div class="testimonial-wrapper">
    <div class="testimonial-row">
      <div class="testimonial col-one-half">
        <div class="testimonial-image">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/07/SCB-80x80.jpg">
        </div>
        <div class="testimonial-content">
          <p>"Breeze Living has been a project of true passion for all of us involved from the very beginning. It is incredibly fulfilling to finally have our baby on the App Store. Mobile Now has a team of extremely creative people that really do understand iPhone!"</p>
        </div>
        <div class="testimonial-meta">
          <strong>Melissa Wong, Albert Xu &amp; David Lynch</strong>
          <span>Standard Chartered Bank, China</span>
        </div>
      </div>
      <div class="testimonial col-one-half last">
        <div class="testimonial-image">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/07/Lonely-Planet-80x80.jpg">
        </div>
        <div class="testimonial-content">
          <p>"We have the most beautiful travel image library on the planet but we still needed an iPhone App to bring them to life on our favorite touchscreen. Thank you Mobile Now Team for your great help in making it happen and your valuable advice, input and flexibility at every milestone!"</p>
        </div>
        <div class="testimonial-meta">
          <strong>Samantha Spruce</strong>
          <span>Lonely Planet, Australia</span>
        </div>
      </div>
    </div>
    <div class="testimonial-row">
      <div class="testimonial col-one-half">
        <div class="testimonial-image">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/07/Mindshare-80x80.jpg">
        </div>
        <div class="testimonial-content">
          <p>"The Mobile Now team were brilliant to work with and really know their stuff when it comes to game design, production and game publishing on the App store. It is really enjoyable to produce such quality work together."</p>
        </div>
        <div class="testimonial-meta">
          <strong>Andrew Spear</strong>
          <span>Mindshare, China</span>
        </div>
      </div>
      <div class="testimonial col-one-half last">
        <div class="testimonial-image">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/2013/07/Boston-Funds-Direct-80x80.jpg">
        </div>
        <div class="testimonial-content">
          <p>"Thanks Mobile Now, mission accomplished! Quite a success to deliver the deVere iPad and iPhone Apps within such a tight time line. Our Client was very happy with the end result!"</p>
        </div>
        <div class="testimonial-meta">
          <strong>Peter Williams</strong>
          <span>Boston Funds Direct, Singapore</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
 -->
