<footer>
  <div class="above-contact-us"></div>

  <div class="wrapper office-info">

    <h2 class="footer-heading with-bottom-line"><img alt="Contact" src="{{ site.url }}/assets/images/Contact.png" width="38" height="38">Contact us</h2>

    <div class="col-one-third first">
      <a href="https://maps.google.com.hk/maps?q=%E4%B8%AD%E5%9B%BD%E4%B8%8A%E6%B5%B7%E5%B8%82%E5%BE%90%E6%B1%87%E5%8C%BA%E8%A5%84%E9%98%B3%E5%8D%97%E8%B7%AF218%E5%8F%B7&amp;hl=en&amp;ie=UTF8&amp;ll=31.21246">
        <img src="{{ site.url }}/assets/images/shanghai-symbol.png" alt="Shanghai" class="img-align-center">
      </a>
      <div class="text-center city"><span>Shanghai</span></div>
      <dl>
        <dt><a href="https://maps.google.com.hk/maps?q=%E4%B8%AD%E5%9B%BD%E4%B8%8A%E6%B5%B7%E5%B8%82%E5%BE%90%E6%B1%87%E5%8C%BA%E8%A5%84%E9%98%B3%E5%8D%97%E8%B7%AF218%E5%8F%B7&amp;hl=en&amp;ie=UTF8&amp;ll=31.21246" target="_blank"><span class="icon-position"></span></a></dt>
        <dd>No. 218 Xiang Yang South Road (near Fuxing Rd.). Building A, Room 503, Shanghai, China 200031</dd>
        <dt><span class="icon-position">📞</span></dt>
        <dd>+86 1381 624 0779</dd>
        <dt><span class="icon-position">✉</span></dt>
        <dd><a href="mailto:shanghai@mobilenowgroup.com">Shanghai@mobilenowgroup.com</a></dd>
      </dl>
    </div>

    <div class="col-one-third">
      <a href="https://maps.google.com.hk/maps?q=%E4%B8%AD%E5%9B%BD%E6%B9%96%E5%8D%97%E7%9C%81%E9%95%BF%E6%B2%99%E5%B8%82%E5%B2%B3%E9%BA%93%E5%8C%BA%E9%87%91%E6%98%9F%E4%B8%AD%E8%B7%AF%E6%B9%98%E8%85%BE%E5%9F%8E%E5%B8%82%E5%B9%BF%E5%9C%BA&amp;hl=en&amp;ie=UTF8&amp;ll=28.21936">
        <img src="{{ site.url }}/assets/images/changsha-symbol.png" alt="Changsha" class="img-align-center">
      </a>
      <div class="text-center city"><span>Changsha</span></div>
      <dl>
        <dt><a href="https://maps.google.com.hk/maps?q=%E4%B8%AD%E5%9B%BD%E6%B9%96%E5%8D%97%E7%9C%81%E9%95%BF%E6%B2%99%E5%B8%82%E5%B2%B3%E9%BA%93%E5%8C%BA%E9%87%91%E6%98%9F%E4%B8%AD%E8%B7%AF%E6%B9%98%E8%85%BE%E5%9F%8E%E5%B8%82%E5%B9%BF%E5%9C%BA&amp;hl=en&amp;ie=UTF8&amp;ll=28.21936" target="_blank"><span class="icon-position"></span></a></dt>
        <dd>438 Jinxingzhong Road, Xiangteng City Plaza, Building 1, Unit 2, Room 3005, Yuelu District, Changsha, China 410013</dd>
        <dt><span class="icon-position">✉</span></dt>
        <dd><a href="mailto:changsha@mobilenowgroup.com">Changsha@mobilenowgroup.com</a></dd>
      </dl>
    </div>

    <div class="col-one-third">
      <a href="http://goo.gl/maps/VhiXI">
        <img src="{{ site.url }}/assets/images/singapore-symbol.png" alt="Singapore" class="img-align-center">
      </a>
      <div class="text-center city"><span>Singapore</span></div>
      <dl>
        <dt><a href="http://goo.gl/maps/VhiXI" target="_blank"><span class="icon-position"></span></a></dt>
        <dd>49 Jervois Road, #04-02<br>
        Singapore 249081</dd>
        <dt><span class="icon-position">📞</span></dt>
        <dd>+65 9177 9117</dd>
        <dt><span class="icon-position">✉</span></dt>
        <dd><a href="mailto:singapore@mobilenowgroup.com">Singapore@mobilenowgroup.com</a></dd>
      </dl>
    </div>
  </div>

  <div class="site-footer">
    <div class="wrapper">
      <span class="copyright">© Copyright  - <a href="{{ site.url }}">Mobile Now Group</a></span>

      <nav>
        <ul class="page-links">
          <li{% if page.url == "/index.html" %} class="active"{% endif %}>
            <a href="{{ site.url }}">Home</a>
          </li>
          <li{% if page.url == "/work/index.html" %} class="active"{% endif %}>
            <a href="{{ site.url }}/work/">Work</a>
          </li>
          <li{% if page.url == "/about-us/index.html" %} class="active"{% endif %}>
            <a href="{{ site.url }}/about-us/">About us</a>
          </li>
          <li{% if page.url == "/services/index.html" %} class="active"{% endif %}>
            <a href="{{ site.url }}/services/">Services</a>
          </li>
          <li{% if page.url == "/news/index.html" %} class="active"{% endif %}>
            <a href="{{ site.url }}/news/">News</a>
          </li>
          <li{% if page.url == "/contact-us/index.html" %} class="active"{% endif %}>
            <a href="{{ site.url }}/contact-us/">Contact us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
