<header class="site-header" id="fixed-site-header">

  <div class="wrapper">

    <div class="site-title">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.assetsurl }}2013/07/logo.png" alt="Mobile Now Group">
      </a>
    </div>

    <a href="#" class="menu-icon text-center"></a>

    <nav class="site-nav">
      <a href="#" class="hide-menu-icon text-center">✖</a>
      <ul class="page-links list-unstyled" id="page-links">
        <li{% if page.url == "/index.html" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.baseurl }}/">Home
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
        <li{% if page.url == "/work/" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.baseurl }}/work/">Work
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
        <li{% if page.url == "/about-us/" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.baseurl }}/about-us/">About us
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
        <li{% if page.url == "/services/" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.baseurl }}/services/">Services
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
        <li{% if page.url contains "/news/" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.baseurl }}/news/">News
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
        <li{% if page.url == "/contact-us/" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.baseurl }}/contact-us/">Contact us
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
      </ul>
    </nav>

  </div>

</header>
