<header class="site-header">

  <div class="wrapper header-wrapper" id="fixed-site-header">

    <div class="site-title">
      <a href="{{ site.url }}/">
        <img src="{{ site.url }}/assets/images/logo.png" alt="Mobile Now Group">
      </a>
    </div>

    <a href="#" class="menu-icon text-center"></a>

    <nav class="site-nav">
      <a href="#" class="hide-menu-icon text-center">✖</a>
      <ul class="page-links" id="page-links">
        <li{% if page.url == "/index.html" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.url }}">Home
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
        <li{% if page.url == "/work/index.html" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.url }}/work/">Work
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
        <li{% if page.url == "/about-us/index.html" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.url }}/about-us/">About us
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
        <li{% if page.url == "/services/index.html" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.url }}/services/">Services
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
        <li{% if page.url == "/news/index.html" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.url }}/news/">News
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
        <li{% if page.url == "/contact-us/index.html" %} class="active"{% endif %}>
          <a class="page-link" href="{{ site.url }}/contact-us/">Contact us
            <span class="avia-underline"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span>
          </a>
        </li>
      </ul>
    </nav>

  </div>

</header>
