<div class="news-share-download">
<div class="wrapper content">

  {% if page.iosDownload or page.androidDownload or page.pdfDownload or page.iosComeSoon or page.androidComeSoon %}
  <div>
    <h4><i>{{ page.projectTitle }}</i> is available on:</h4>

    {% if page.iosDownload %}
    <a class="download-link" title="{{ page.projectTitle }}" href="{{ page.iosDownload }}" target="_blank">
      <img src="{{ site.assetsurl }}2013/12/badge_ios.png" width="134" height="36" alt="badge_ios">
    </a>
    {% endif %}

    {% if page.androidDownload %}
    <a class="download-link" title="{{ page.projectTitle }}" href="{{ page.androidDownload }}" target="_blank">
      <img src="{{ site.assetsurl }}{{ page.androidDownloadIcon }}" width="134" height="36" alt="badge_android">
    </a>
    {% endif %}

    {% if page.pdfDownload %}
    <a class="download-link" title="{{ page.projectTitle }}" href="{{ site.assetsurl }}{{ page.pdfDownload }}" download>
      <img src="{{ site.assetsurl }}2014/03/pdf.png" width="134" height="36" alt="badge_pdf">
    </a>
    {% endif %}

    {% if page.iosComeSoon %}
    <img class="download-link" src="{{ site.assetsurl }}2016/02/badge_ios_comesoon.png" width="134" height="36" alt="badge_ios">
    {% endif %}

    {% if page.androidComeSoon %}
    <img class="download-link" src="{{ site.assetsurl }}2016/02/badge_android_comesoon.png" width="134" height="36" alt="badge_ios">
    {% endif %}

  </div>
  {% endif %}

  <div>
    <h4>Spread the word:</h4>
    <ul class="list-unstyled juiz_sps_links">
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.mobilenowgroup.com{{ page.permalink }}" rel="nofollow" title="Share this article on Facebook" target="_blank">
          <span class="juiz_sps_icon facebook"></span><span class="juiz_sps_network_name">Facebook</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/intent/tweet?source=webclient&amp;original_referer=http://www.mobilenowgroup.com{{ page.permalink }}&amp;text={{ page.socialShareText }}&amp;url=http://www.mobilenowgroup.com{{ page.permalink }}&amp;related=mobilenowgroup&amp;via=mobilenowgroup" rel="nofollow" title="Share this article on Twitter" target="_blank">
          <span class="juiz_sps_icon twitter"></span><span class="juiz_sps_network_name">Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/share?url=http://www.mobilenowgroup.com{{ page.permalink }}" rel="nofollow" title="Share this article on Google+" target="_blank">
          <span class="juiz_sps_icon google-plus"></span><span class="juiz_sps_network_name">Google+</span>
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;ro=true&amp;trk=JuizSocialPostSharer&amp;title={{ page.socialShareText }}&amp;url=http://www.mobilenowgroup.com{{ page.permalink }}" rel="nofollow" title="Share this article on LinkedIn" target="_blank">
          <span class="juiz_sps_icon linkedIn"></span><span class="juiz_sps_network_name">LinkedIn</span>
        </a>
      </li>
      <!-- <li>
        <a href="http://service.weibo.com/share/share.php?title={{ page.socialShareText }}&amp;url=http://www.mobilenowgroup.com{{ page.permalink }}" rel="nofollow" title="Share this article on Weibo" target="_blank">
          <span class="juiz_sps_icon weibo"></span><span class="juiz_sps_network_name">Weibo</span>
        </a>
      </li>
      <li>
        <a href="mailto:?subject=Visit this link find on http://www.mobilenowgroup.com&amp;body=Hi, I found this information for you from MobileNowGroup: &quot;{{ page.title }}&quot;! This is the direct link: http://www.mobilenowgroup.com{{ page.permalink }} Have a nice day :)" rel="nofollow" title="Share this article with a friend (email)" target="_blank">
          <span class="juiz_sps_icon email"></span><span class="juiz_sps_network_name">E-mail</span>
        </a>
      </li> -->
    </ul>
  </div>

</div>
</div>
