#career {
  border: none;
  margin: 0;
  height: $spacing-unit * 2.2;

  @include media-query-max($on-mobile) {
    visibility: hidden;
    height: 0;
  }
}

table.careers {
  width: 100%;
  color: #444444;
  margin-top: 30px;
  margin-bottom: 30px;

  td {
    padding: 10px 13px;
    vertical-align: baseline;
  }

  span.download {
    font-family: "entypo-fontello";
    margin-right: 5px;
  }
}

@include media-query-max($on-mobile) {
  table.careers tr {
    td { display: block; }
    &>td:last-child {
      border-bottom: 1px solid $grey-color-light;
      padding-bottom: $spacing-unit * 1.5;
      margin-bottom: $spacing-unit * 0.5;
    }
  }
}
