.entry-content {
  padding-bottom: $spacing-unit * 2;

  h3 {
    margin-bottom: 4px;
    &>a {
      color: $header-color;
    }
  }
  article {
    font-size: 13px;
    line-height: 23px;
    color: $text-color-dark;
  }
}

.entries-by {
  color: $text-color;
  padding-bottom: $spacing-unit * 2;
}
