.above-contact-us { background-image: url("../assets/images/2013/09/03.jpg"); }

.office-info {
  border-top: 1px solid $grey-color-light;

  .city {
    margin-top: $spacing-unit * 1.5;
    margin-bottom: $spacing-unit * 1.7;

    span {
      font-size: 34px;
      font-weight: 600;
      color: $brand-color;
      letter-spacing: 1px;
    }
  }

  dt, dd { display: inline-block; }
  dt { width: 10%; }
  dd {
    width: 80%;
    vertical-align: top;
    color: $text-color-dark;
    line-height: 23px;
  }

  .icon-position {
    font-family: "entypo-fontello";
    color: $brand-color;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
  }
}

.btn-brief-wrapper {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit * 2;

  .mn-button {
    line-height: initial;
    font-size: 30px;
  }
}
