@font-face {
  font-family: "entypo-fontello";
  src: url("../assets/fonts/entypo-fontello.woff") format("woff");
}

@import
  "grids",
  "site-header",
  "site-footer",
  "contact-us"
;


/**
 * Wrapper
 */
.wrapper {
  position: relative;
  width: 910px;
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;

  @include media-query-min($desktop-large) {
    width: 1030px;
  }
  @include media-query-max($on-mobile) {
    // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    // max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    // padding-right: $spacing-unit / 2;
    // padding-left: $spacing-unit / 2;
    width: 268px;
  }
  @media only screen and (max-width: 767px) and (min-width: 480px) { // mobile landscape
    width: 428px;
  }
  @media only screen and (min-width: 768px) and (max-width: 989px) { // tablet portrait
    width: 682px;
  }
}


/**
 * Site header
 */
.avia-underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $brand-color-dark;
  border: 1px solid $brand-color-dark;
  opacity: 0;
  visibility: hidden;
}

.avia-arrow-wrap {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: -5px;
  overflow: hidden;
  display: none;
}
.avia-arrow {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -5px;
  background-color: $brand-color-dark;
  @include mn-transform(rotate(45deg));
}

.site-header .menu-icon, .site-header .hide-menu-icon {
  display: none;

  @include media-query-max($on-mobile) {
    position: absolute;
    width: 47px;
    height: 47px;
    line-height: 47px;
    margin-top: -24px;
    font-size: 30px;
    font-family: "entypo-fontello";
    text-decoration: none;
    background-color: white;
    color: $text-color-dark;
    border: 1px solid $grey-color-light;
    border-radius: 2px;
    z-index: 100;
  }
}
@include media-query-max($on-mobile) {
  .site-header .menu-icon {
    display: block;
    top: 50%;
    right: 0;
  }
  .site-header .hide-menu-icon {
    top: 44px;
    right: 23px;
  }
}

.site-nav {
  position: absolute;
  right: 0;
}

.full-screen { width: 100%; }


.photo-breaker {
  width: 100%;
  height: 390px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.content { // set padding for content area
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

/**
* Common header
*/
.content-h2 {
  font-size: 28px;
  line-height: 1.1em;
  color: $header-color;
  letter-spacing: 1px;

  img {
    margin-right: 20px;
    vertical-align: text-bottom;
  }
}
.content-h2.with-bottom-line {
  background: url("../assets/images/line.png") no-repeat center bottom;
  padding-bottom: 57px;
  margin-bottom: $spacing-unit;
  text-align: center;
}

.content-p {
  margin-top: 12px;
  margin-bottom: 42px;
  color: $text-color-dark;
}


/**
 * Scroll Top link
 */
#go-top-button {
  position: fixed;
  right: $spacing-unit;
  bottom: $spacing-unit;
  width: $spacing-unit;
  height: $spacing-unit;
  line-height: $spacing-unit;
  font-family: "entypo-fontello";
  text-decoration: none;
  z-index: 100;
  background-color: white;
  color: $text-color-dark;
  border:1px solid $grey-color-light;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
  @include mn-transition(all 0.3s ease-out);

  &:hover {
    color: $brand-color-dark;
    background-color: #f8f8f8;
  }

  &.show-gotop {
    opacity: 0.7;
    visibility: visible;
  }
}

/**
 * Page content
 */
.page-content {
  @include media-query-min($on-laptop) {
    padding-top: 88px;
  }
}
