.work-content {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit * 4.5;
}

.sort-filter-container {
  margin-bottom: $spacing-unit * 1.5;

  a {
    color: $text-color;
    text-decoration: none;
  }
  a:hover, a.active_sort {
    color: $brand-color-dark;
  }

  .text-sep {
  	font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
  }
}

/*
* add transition effect on isotope filtering
*/
.sortable_active .isotope, .sortable_active .isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.sortable_active .isotope {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transition-property: height, width;
          transition-property: height, width;
}

.sortable_active .isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
          transition-property:         transform, opacity;
}

/*
* project detail page
*/
.project-detail h4 {
  margin-top: 1.5em;
}

.project-detail p {
  margin-top: 0.85em;
  margin-bottom: 0.85em;
  color: $text-color-dark;
  line-height: 1.7;
}

.recent-works {
  @extend .solid_top_border;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.avia-layerslider {
  overflow: hidden;
  clear: both;
  position: relative;
}
