.work-content {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit * 4.5;
}

.sort-filter-container {
  margin-bottom: $spacing-unit * 1.5;

  a {
    color: $text-color;
    text-decoration: none;
  }
  a:hover, a.active_sort {
    color: $brand-color-dark;
  }

  .text-sep {
  	font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
  }
}

/*
* add transition effect on isotope filtering
*/
.sortable_active .isotope, .sortable_active .isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.sortable_active .isotope {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transition-property: height, width;
          transition-property: height, width;
}

.sortable_active .isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
          transition-property:         transform, opacity;
}
